* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 18, 20);
  color: rgb(231, 241, 251);
  min-height: 100%;
  min-width: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 100vh;
  background-color: rgb(33, 34, 36);
  padding-left: 10px;
  padding-right: 10px;
}
aside ul {
  flex: 1;
  list-style-type: none;
  text-align: center;
}
aside ul li {
  margin-bottom: 10px;
}
#stopa {
  font-size: small;
  text-align: center;
  margin-bottom: 15px;
}
.left {
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
}
.right {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  flex: 1;
}
.bottom_border {
  display: flex;
  flex: 1;
  border: 1px solid rgb(231, 241, 251);
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 35px;
  padding-bottom: 25px;
}
.right_border {
  flex-flow: r;
  padding-right: 10px;
  border: 1px solid rgb(231, 241, 251);
  border-top: none;
  border-left: none;
  border-bottom: none;
}
.sec {
  font-family: "Cursive", sans-serif;
  font-size: 200%;
}
table {
  margin: 20px;
  border: 1px solid rgb(231, 241, 251);
  background-color: rgb(33, 34, 36);
  text-align: left;
  border-spacing: 50px;
  width: 100%;
  flex: 1;
}
td.classsA {
  border: 1px solid rgb(231, 241, 251);
  color: rgb(231, 241, 251);
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
button {
  color: rgb(231, 241, 251);
  border: none;
  background-color: rgb(33, 34, 36);
}
th {
  border-bottom: 1px solid rgb(231, 241, 251);
}
td {
  border-bottom: 1px solid rgb(231, 241, 251);
}
a:hover {
  color: chartreuse;
}
a:active {
  color: rgb(74, 143, 4);
}
a {
  text-align: center;
  text-decoration: none;
  color: rgb(231, 241, 251);
  display: inline-block;
}
.kola {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.content-wapper {
  display: flex;
  width: 100%;
}
.flexcol {
  flex-direction: column;
  flex: 1;
}
.ar {
  display: flex;
}
.spacing {
  margin-left: 7px;
}
.none {
  border: none;
}
input {
  background-color: rgb(33, 34, 36);
  border: 1px solid rgb(231, 241, 251);
  color: rgb(231, 241, 251);
}
