body {
  background-color: lightgray;
  /*
  background-image: url("image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  */
}
h1 {
  color: rgb(74, 74, 102);
}
table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  /*border-style: dotted;*/
}
th {
  background-color: #3dcaca;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
td {
  background-color: #96d4d4;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.test {
  background-color: rgb(94, 94, 94);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(56, 0, 0);
  margin: 10px;
  padding: 10px;
}
.test2 {
  font-size: 120%;
  color: red;
}
#naglowek {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
/* idkkkkkkkkkkkkkk*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
